<ng-container *ngFor="let vote of messageeee">
  <mat-radio-group color="primary">
    <mat-radio-button
      title="{{ vote.title }}"
      value="{{ vote.title }}"
      (click)="onVote(vote)"
      >{{ vote.title }}
    </mat-radio-button>
    <!-- <mat-form-field>
      <input
        matInput
        type="text"
        [(ngModel)]="vote.title"
        (change)="onChange(vote)"
      />
    </mat-form-field>
    <button mat-raised-button (click)="deleteVote(vote)">X</button> -->
  </mat-radio-group>

  <br />
</ng-container>
