<!-- <section *ngIf="error$ | async as error">
  <h1>{{ error }}</h1>
</section> -->
<section style="margin-top: 200px">
  <input [(ngModel)]="question" />
  <h2>{{ question }}</h2>
</section>
<form [formGroup]="votesForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    formControlName="title"
    placeholder="Add your vote"
    required
    [(ngModel)]="inputFieldValue"
  />
  <div *ngIf="votes$ | async as votes">
    <button [disabled]="votes.length >= 10" type="submit">Add Vote</button>
  </div>
</form>

<section *ngIf="votes$ | async as votes">
  <app-vote-poll></app-vote-poll>
</section>
