<!-- <section *ngIf="error$ | async as error">
  <h1>{{ error }}</h1>
</section> -->
<section style="margin-top: 200px">
  <input [(ngModel)]="question" />
  <h2>{{ question }}</h2>
</section>

<section *ngIf="votes$ | async as votes">
  <form [formGroup]="votesForm" (ngSubmit)="onSubmit()">
    <input formControlName="title" type="text" placeholder="Add your vote" />
    <button [disabled]="votes.length >= 10" type="submit">Add Vote</button>
  </form>

  <br />
  <app-vote-poll></app-vote-poll>
  <ng-container *ngIf="votes.length > 1">
    <app-display-poll-results></app-display-poll-results>
  </ng-container>
</section>
