<!-- <section *ngIf="error$ | async as error">
  <h1>{{ error }}</h1>
</section> -->
<mat-card class="mat-elevation-z24" style="height: 5rem">
  <mat-card-title>Sir Vote-a-lot</mat-card-title>
</mat-card>
<hr />
<mat-card class="mat-elevation-z24" style="margin-bottom: 5rem">
  <mat-card-content>
    <section>
      <mat-card class="mat-elevation-z24" fxFlex="30" fxFlexOffset="1">
        <mat-card-title>{{ question }}</mat-card-title>
        <form [formGroup]="questionForm" style="margin-bottom: 1rem">
          <mat-form-field>
            <input
              matInput
              formControlName="formControlQuestionName"
              [(ngModel)]="question"
            />
            <mat-hint>Add/Edit question.</mat-hint>
            <mat-error *ngIf="!votesForm.get('formControlVoteName').valid"
              >Question must be <strong>between 1 and 30 characters.</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <ng-container *ngFor="let vote of messageeee">
          <mat-form-field>
            <input
              #voteDirective="ngModel"
              matInput
              type="text"
              [(ngModel)]="vote.title"
              (change)="onChange(vote)"
              minlength="1"
              maxlength="80"
              required
            />
            <mat-hint>Edit vote name.</mat-hint>
            <mat-error [hidden]="voteDirective.valid"
              >Vote must be <strong>between 1 and 30 characters.</strong>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button (click)="deleteVote(vote)">X</button>
        </ng-container>
        <form
          [formGroup]="votesForm"
          (ngSubmit)="onSubmit(formDirective)"
          #formDirective="ngForm"
          style="margin: 1rem 0 2rem"
        >
          <mat-form-field>
            <input
              matInput
              formControlName="formControlVoteName"
              type="text"
              placeholder="Type an answer"
            />
            <mat-hint>Add vote to the poll.</mat-hint>
            <mat-error *ngIf="!votesForm.get('formControlVoteName').valid"
              >Vote must be <strong>between 1 and 30 characters.</strong>
            </mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            [disabled]="
              messageeee.length >= maxNumberOfAnswers || !votesForm.valid
            "
            type="submit"
          >
            Add
          </button>
        </form>
        <p style="display: inline-block">
          {{ messageeee.length }} / {{ maxNumberOfAnswers }} possible answers
        </p>
        <button mat-raised-button type="submit" (click)="onReset()">
          Reset
        </button>
      </mat-card>
      <br />
      <mat-card class="mat-elevation-z24" fxFlex="25" fxFlexOffset="2">
        <mat-card-title>{{ question }}</mat-card-title>
        <app-vote-poll></app-vote-poll
      ></mat-card>
      <mat-card class="mat-elevation-z24" fxFlex="40" fxFlexOffset="2">
        <mat-card-title>{{ question }}</mat-card-title>
        <ng-container *ngIf="messageeee.length > 1">
          <mat-card-content>
            <app-display-poll-results></app-display-poll-results>
          </mat-card-content>
        </ng-container>
      </mat-card>
    </section>
  </mat-card-content>
</mat-card>
